@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-base);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
@layer base {
  h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.6px;
  }

  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 56px */
  }

  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.8px; /* 44.8px */
    text-transform: capitalize;
  }

  h4 {
    @apply lg:text-2xl text-xl font-bold capitalize lg:leading-[33.6px] not-italic;
  }

  h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 28px */
  }

  h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }

  .body-xl {
    @apply lg:text-xl text-base font-normal lg:leading-9 leading-8 capitalize;
  }
  .body-lg {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }
  .body-md {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }
  .body-sm {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }

  .button-lg {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28.8px;
    text-transform: capitalize;
  }

  .button-md {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }

  .caption-lg {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .caption-md {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .caption-sm {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .overline-lg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 28.8px */
  }

  .overline-sm {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .navbar-link {
    @apply lg:text-xl text-base font-normal;
    /* font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 28px */
  }
}

.navbar-link.active {
  @apply font-bold border-b-2 border-primary-400 text-primary-400;
}

.slider-banner-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #000;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    linear-gradient(0deg, rgba(33, 64, 43, 0.5) 0%, rgba(33, 64, 43, 0.5) 100%);
  background-blend-mode: normal, overlay, normal;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__banner__pagination__bullet {
  @apply w-2 h-2 rounded-full inline-block bg-neutral-600 ml-1 z-40;
}

.swiper__banner__pagination__bullet.swiper-pagination-bullet-active {
  @apply w-[14px] h-[14px] bg-primary-400 border-2 border-primary-50;
}

.navigation-dropdown-menu > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  @apply bg-neutral-400 left-2 right-2;
}

.navigation-dropdown-menu > ul > li:first-child {
  @apply rounded-t;
}

.navigation-dropdown-menu > ul > li:last-child {
  @apply rounded-b;
}

.navigation-dropdown-menu {
  opacity: 0;
  user-select: none;
  scale: 0.95;
  /* display: grid;
  grid-template-rows: 0fr;
  */
  transition: opacity, scale 0.15s ease-in-out;
}

.navigation-dropdown-menu.open {
  opacity: 1;
  scale: 1;
}

.food__cart--shadow {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01),
    0px 25px 7px 0px rgba(0, 0, 0, 0);
}

.branch__cart:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01),
    0px 25px 7px 0px rgba(0, 0, 0, 0);
}
