@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-base);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
@layer base {
  h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 61.6px;
  }

  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 56px */
  }

  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.8px; /* 44.8px */
    text-transform: capitalize;
  }

  h4 {
    @apply text-xl font-bold capitalize not-italic lg:text-2xl lg:leading-[33.6px];
  }

  h5 {
    @apply text-lg font-bold not-italic lg:text-xl;
  }

  h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }

  .body-xl {
    @apply text-xl font-normal capitalize leading-9;
  }
  .body-lg {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }
  .body-md {
    @apply !text-sm font-normal capitalize not-italic leading-9 lg:!text-base;
  }
  .body-sm {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 36px */
    text-transform: capitalize;
  }

  .button-lg {
    @apply text-[10px] font-medium capitalize not-italic leading-[18px]  sm:text-xs md:text-sm lg:text-base;
  }

  .button-md {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }

  .caption-lg {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .caption-md {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .caption-sm {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 21.6px */
    text-transform: capitalize;
  }

  .overline-lg {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 28.8px */
  }

  .overline-sm {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
  }

  .navbar-link {
    @apply text-[10px] font-normal leading-[18px] sm:text-sm md:text-base lg:text-xl;
  }
}

.navbar-link.active {
  @apply text-xs leading-[21.6px] text-primary-400 md:border-b-2 md:border-primary-400 md:text-base md:font-bold lg:text-xl;
}

.slider-banner-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #000;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    linear-gradient(0deg, rgba(33, 64, 43, 0.5) 0%, rgba(33, 64, 43, 0.5) 100%);
  background-blend-mode: normal, overlay, normal;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper__banner__pagination__bullet {
  @apply z-40 ml-1 inline-block h-1 w-1 rounded-full bg-neutral-600 sm:h-2 sm:w-2;
}

.swiper__banner__pagination__bullet.swiper-pagination-bullet-active {
  @apply h-[10px] w-[10px] border-2 border-primary-50 bg-primary-400 sm:h-[14px] sm:w-[14px];
}

.navigation-dropdown-menu > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 1px;
  @apply left-2 right-2 bg-neutral-400;
}

.navigation-dropdown-menu > ul > li:first-child {
  @apply rounded-t;
}

.navigation-dropdown-menu > ul > li:last-child {
  @apply rounded-b;
}

.navigation-dropdown-menu {
  opacity: 0;
  user-select: none;
  scale: 0.95;
  /* display: grid;
  grid-template-rows: 0fr;
  */
  transition:
    opacity,
    scale 0.15s ease-in-out;
}

.navigation-dropdown-menu.open {
  opacity: 1;
  scale: 1;
}

.food__cart--shadow {
  box-shadow:
    0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 9px 5px 0px rgba(0, 0, 0, 0.05),
    0px 16px 6px 0px rgba(0, 0, 0, 0.01),
    0px 25px 7px 0px rgba(0, 0, 0, 0);
}

.branch__cart:hover {
  box-shadow:
    0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1),
    0px 4px 4px 0px rgba(0, 0, 0, 0.09),
    0px 9px 5px 0px rgba(0, 0, 0, 0.05),
    0px 16px 6px 0px rgba(0, 0, 0, 0.01),
    0px 25px 7px 0px rgba(0, 0, 0, 0);
}

.bannerSwiper .swiper-button-prev,
.swiper-button-next {
  @apply absolute top-1/2  !hidden !h-8 !w-8 items-center justify-center md:!flex;
}
.bannerSwiper .swiper-button-prev {
  right: 0;
}
.bannerSwiper .swiper-button-next {
  left: 0;
}

.bannerSwiper .swiper-pagination {
  @apply !bottom-[2px] sm:!bottom-1 md:!bottom-[10px];
}

.swiper-button-prev::after {
  content: url("/svg/arrow-right.svg") !important;
  position: absolute;
  inset: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.swiper-button-next::after {
  content: url("/svg/arrow-right.svg") !important;
  transform: scaleX(-1);
  position: absolute;
  inset: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
